In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None) #display all columns

In [ ]:
employees = pd.read_csv('/content/employee_data.csv')
engagement = pd.read_csv('/content/employee_engagement_survey_data.csv')
recruitment = pd.read_csv('/content/recruitment_data.csv')
tnd = pd.read_csv('/content/training_and_development_data.csv')

#EDA

In [ ]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [ ]:
employees.tail()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
2995,3422,Jakobe,Erickson,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,Part-Time,Zone C,Part-Time,Retirement,In forget fast.,Production,Engineers,23-06-1998,MA,Model Assistant,Female,44500,Other,Widowed,Fully Meets,3
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,Full-Time,Unk,NaN,Production,Engineers,10-06-2001,MA,Engineer,Male,35444,Black,Widowed,Fully Meets,3
2997,3424,Annabel,Wilkins,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,Contract,Zone B,Temporary,Involuntary,Smile high bar white spend forget choice near.,Production,Wireline Construction,27-01-1997,MA,Laborer,Male,6608,White,Single,Fully Meets,2
2998,3425,Kendra,Braun,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,Contract,Zone B,Full-Time,Resignation,Fine expect election either turn.,Production,Aerial,28-05-1954,MA,Foreman,Female,3807,Hispanic,Divorced,Fully Meets,2
2999,3426,Chace,Kerr,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,Temporary,Unk,NaN,Production,Field Operations,11-09-1990,MA,Warehouse Technician,Female,57487,White,Married,Fully Meets,2

In [ ]:
employees.shape

(3000, 26)

In [ ]:
employees.describe()

             EmpID  LocationCode  Current Employee Rating
count  3000.000000   3000.000000              3000.000000
mean   2500.500000  44997.180667                 2.969000
std     866.169729  29987.331783                 1.015078
min    1001.000000   1013.000000                 1.000000
25%    1750.750000  17546.000000                 2.000000
50%    2500.500000  44150.500000                 3.000000
75%    3250.250000  71481.250000                 3.000000
max    4000.000000  98052.000000                 5.000000

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   object
 4   ExitDate                    1533 non-null   object
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   ADEmail                     3000 non-null   object
 8   BusinessUnit                3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      1533 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   object
 18  State                       3000 non-null   object
 19  JobFunctionDescription      3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           3000 non-null   object
 25  Current Employee Rating     3000 non-null   int64
dtypes: int64(3), object(23)
memory usage: 609.5+ KB

In [ ]:
engagement.head()

,Employee ID,Survey Date,Engagement Score,Satisfaction Score,Work-Life Balance Score
0,1001,10-10-2022,2,5,5
1,1002,03-08-2023,4,5,3
2,1003,03-01-2023,2,5,2
3,1004,30-07-2023,3,5,3
4,1005,19-06-2023,2,4,5

In [ ]:
engagement.tail()

,Employee ID,Survey Date,Engagement Score,Satisfaction Score,Work-Life Balance Score
2995,3996,14-04-2023,3,5,1
2996,3997,10-09-2022,2,4,1
2997,3998,22-02-2023,5,5,2
2998,3999,02-10-2022,5,4,2
2999,4000,21-04-2023,3,2,1

In [ ]:
engagement.shape

(3000, 5)

In [ ]:
engagement.describe()

,Employee ID,Engagement Score,Satisfaction Score,Work-Life Balance Score
count,3000.000000,3000.000000,3000.000000,3000.000000
mean,2500.500000,2.939667,3.022000,2.989000
std,866.169729,1.433426,1.408845,1.409329
min,1001.000000,1.000000,1.000000,1.000000
25%,1750.750000,2.000000,2.000000,2.000000
50%,2500.500000,3.000000,3.000000,3.000000
75%,3250.250000,4.000000,4.000000,4.000000
max,4000.000000,5.000000,5.000000,5.000000

In [ ]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee ID              3000 non-null   int64
 1   Survey Date              3000 non-null   object
 2   Engagement Score         3000 non-null   int64
 3   Satisfaction Score       3000 non-null   int64
 4   Work-Life Balance Score  3000 non-null   int64
dtypes: int64(4), object(1)
memory usage: 117.3+ KB

In [ ]:
recruitment.head()

,Applicant ID,Application Date,First Name,Last Name,Gender,Date of Birth,Phone Number,Email,Address,City,State,Zip Code,Country,Education Level,Years of Experience,Desired Salary,Job Title,Status
0,1001,03-Jun-23,Scott,Sheppard,Male,31-08-1992,421-429-7655x39421,perezjanet@example.org,597 Smith Point,Hollandfort,NV,57588,Micronesia,High School,8,60103.21,Chief Technology Officer,Interviewing
1,1002,15-May-23,Stanley,Lewis,Male,29-04-1965,+1-451-574-5308x1681,grossmark@example.com,8116 Stuart Loop,Port Margaretfurt,TN,14726,Greenland,Bachelor's Degree,17,64575.84,"Designer, furniture",Rejected
2,1003,04-Aug-23,Javier,Li,Female,10-03-1973,(858)901-5499,katiemaldonado@example.com,5940 Barr Villages Suite 075,Dianaland,TX,4699,China,PhD,20,39422.71,"Sound technician, broadcasting/film/video",Rejected
3,1004,28-Jul-23,Christopher,Johnston,Other,04-04-2001,(853)681-1839x2010,sheila73@example.com,442 Lewis Mount,Youngfurt,GA,34455,Ghana,High School,8,51045.11,Air cabin crew,Rejected
4,1005,05-Jun-23,Melissa,Hicks,Other,17-06-1978,364-575-8478x67812,emilypatterson@example.org,95961 Taylor Circles Apt. 169,East Ashleyborough,IN,21014,Solomon Islands,Master's Degree,0,52792.86,Art therapist,Interviewing

In [ ]:
recruitment.tail()

,Applicant ID,Application Date,First Name,Last Name,Gender,Date of Birth,Phone Number,Email,Address,City,State,Zip Code,Country,Education Level,Years of Experience,Desired Salary,Job Title,Status
2995,3996,18-May-23,Melinda,Butler,Male,25-11-1993,001-324-747-3549x4392,davisvickie@example.org,1307 Stephen Walk Apt. 998,West Jennifer,WY,17130,India,PhD,20,65428.69,"Psychologist, forensic",Offered
2996,3997,12-Jul-23,Latasha,Johnson,Male,29-01-1978,(870)454-9481x49987,gpeterson@example.net,2945 Morse Wells,New Lindsey,MH,81966,Turkey,Bachelor's Degree,0,37297.03,Operational investment banker,Applied
2997,3998,19-Jun-23,Cheryl,Gill,Other,08-02-2000,001-847-873-3665,bschultz@example.net,36716 Kevin Locks Suite 422,Schmidtfurt,ME,59399,Maldives,High School,10,31093.70,Petroleum engineer,Rejected
2998,3999,16-May-23,Danielle,Villegas,Female,08-08-1994,(385)467-6434x67311,alvarezstephen@example.net,0983 Jeremy Burgs,Michaelhaven,KY,37855,Ghana,Bachelor's Degree,14,59442.38,Housing manager/officer,Applied
2999,4000,07-Jul-23,Charles,Hernandez,Female,01-06-1980,(772)767-2580,murrayallison@example.com,146 Cheryl Highway,Hallland,OR,8592,Netherlands,Bachelor's Degree,1,89853.85,"Loss adjuster, chartered",Rejected

In [ ]:
recruitment.shape

(3000, 18)

In [ ]:
recruitment.describe()

       Applicant ID      Zip Code  Years of Experience  Desired Salary
count   3000.000000   3000.000000          3000.000000     3000.000000
mean    2500.500000  51095.088000             9.964667    65079.057560
std      866.169729  28709.871983             6.039998    20163.675071
min     1001.000000    541.000000             0.000000    30047.220000
25%     1750.750000  26856.000000             5.000000    47307.807500
50%     2500.500000  51418.000000            10.000000    64934.865000
75%     3250.250000  76241.250000            15.000000    82585.595000
max     4000.000000  99897.000000            20.000000    99992.660000

In [ ]:
recruitment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Applicant ID         3000 non-null   int64
 1   Application Date     3000 non-null   object
 2   First Name           3000 non-null   object
 3   Last Name            3000 non-null   object
 4   Gender               3000 non-null   object
 5   Date of Birth        3000 non-null   object
 6   Phone Number         3000 non-null   object
 7   Email                3000 non-null   object
 8   Address              3000 non-null   object
 9   City                 3000 non-null   object
 10  State                3000 non-null   object
 11  Zip Code             3000 non-null   int64
 12  Country              3000 non-null   object
 13  Education Level      3000 non-null   object
 14  Years of Experience  3000 non-null   int64
 15  Desired Salary       3000 non-null   float64
 16  Job Title            3000 non-null   object
 17  Status               3000 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 422.0+ KB

In [ ]:
tnd.head()

,Employee ID,Training Date,Training Program Name,Training Type,Training Outcome,Location,Trainer,Training Duration(Days),Training Cost
0,1001,21-Sep-22,Customer Service,Internal,Failed,Port Greg,Amanda Daniels,4,510.83
1,1002,19-Jul-23,Leadership Development,Internal,Failed,Brandonview,Brittany Chambers,2,582.37
2,1003,24-Feb-23,Technical Skills,Internal,Incomplete,Port Briannahaven,Mark Roberson,4,777.06
3,1004,12-Jan-23,Customer Service,Internal,Completed,Knightborough,Richard Fisher,2,824.30
4,1005,12-May-23,Communication Skills,External,Passed,Bruceshire,Heather Shaffer,4,145.99

In [ ]:
tnd.tail()

,Employee ID,Training Date,Training Program Name,Training Type,Training Outcome,Location,Trainer,Training Duration(Days),Training Cost
2995,3996,09-Jan-23,Customer Service,Internal,Failed,North Emily,Carmen Cortez,2,808.51
2996,3997,19-Sep-22,Project Management,External,Failed,West Zachary,Katrina Parker,4,629.16
2997,3998,26-Sep-22,Customer Service,External,Completed,Port Kyle,Andre Donaldson,1,994.09
2998,3999,02-Jul-23,Leadership Development,Internal,Incomplete,Williamsland,Brian Obrien,5,477.78
2999,4000,06-Oct-22,Leadership Development,Internal,Completed,Jamesfurt,Michael Mckenzie,4,951.27

In [ ]:
tnd.shape

(3000, 9)

In [ ]:
tnd.describe()

       Employee ID  Training Duration(Days)  Training Cost
count  3000.000000              3000.000000    3000.000000
mean   2500.500000                 2.975667     558.628697
std     866.169729                 1.417890     263.217698
min    1001.000000                 1.000000     100.040000
25%    1750.750000                 2.000000     327.587500
50%    2500.500000                 3.000000     572.125000
75%    3250.250000                 4.000000     786.987500
max    4000.000000                 5.000000     999.970000

In [ ]:
tnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee ID              3000 non-null   int64
 1   Training Date            3000 non-null   object
 2   Training Program Name    3000 non-null   object
 3   Training Type            3000 non-null   object
 4   Training Outcome         3000 non-null   object
 5   Location                 3000 non-null   object
 6   Trainer                  3000 non-null   object
 7   Training Duration(Days)  3000 non-null   int64
 8   Training Cost            3000 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 211.1+ KB

#Handling nulls and duplicates

In [ ]:
employees.isnull().sum()

EmpID                            0
FirstName                        0
LastName                         0
StartDate                        0
ExitDate                      1467
Title                            0
Supervisor                       0
ADEmail                          0
BusinessUnit                     0
EmployeeStatus                   0
EmployeeType                     0
PayZone                          0
EmployeeClassificationType       0
TerminationType                  0
TerminationDescription        1467
DepartmentType                   0
Division                         0
DOB                              0
State                            0
JobFunctionDescription           0
GenderCode                       0
LocationCode                     0
RaceDesc                         0
MaritalDesc                      0
Performance Score                0
Current Employee Rating          0
dtype: int64

In [ ]:
engagement.isnull().sum()

Employee ID                0
Survey Date                0
Engagement Score           0
Satisfaction Score         0
Work-Life Balance Score    0
dtype: int64

In [ ]:
recruitment.isnull().sum()

Applicant ID           0
Application Date       0
First Name             0
Last Name              0
Gender                 0
Date of Birth          0
Phone Number           0
Email                  0
Address                0
City                   0
State                  0
Zip Code               0
Country                0
Education Level        0
Years of Experience    0
Desired Salary         0
Job Title              0
Status                 0
dtype: int64

In [ ]:
tnd.isnull().sum()

Employee ID                0
Training Date              0
Training Program Name      0
Training Type              0
Training Outcome           0
Location                   0
Trainer                    0
Training Duration(Days)    0
Training Cost              0
dtype: int64

In [ ]:
employees.duplicated().sum()

0

In [ ]:
employees['EmpID'].duplicated().sum()

0

In [ ]:
employees['ADEmail'].duplicated().sum()

2

In [ ]:
duplicated_emails = employees[employees['ADEmail'].duplicated(keep=False)]['ADEmail'] #show all duplicated emails
print(duplicated_emails)

865     larissa.warner@bilearner.com
1742    larissa.warner@bilearner.com
1974      darien.young@bilearner.com
2204      darien.young@bilearner.com
Name: ADEmail, dtype: object

In [ ]:
employees["ReusedEmail"] = employees['ADEmail'].duplicated(keep=False) #create column for duplicated emails, law el email duplicated yeb2a = true law unique = false

In [ ]:
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,ReusedEmail
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4,False
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3,False
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4,False
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2,False
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3,False

In [ ]:
engagement.duplicated().sum()

0

In [ ]:
engagement.columns

Index(['Employee ID', 'Survey Date', 'Engagement Score', 'Satisfaction Score',
       'Work-Life Balance Score'],
      dtype='object')

In [ ]:
engagement['Employee ID'].duplicated().sum()

0

In [ ]:
recruitment.duplicated().sum()

0

In [ ]:
tnd.duplicated().sum()

0

In [ ]:
print(employees.dtypes)

EmpID                          int64
FirstName                     object
LastName                      object
StartDate                     object
ExitDate                      object
Title                         object
Supervisor                    object
ADEmail                       object
BusinessUnit                  object
EmployeeStatus                object
EmployeeType                  object
PayZone                       object
EmployeeClassificationType    object
TerminationType               object
TerminationDescription        object
DepartmentType                object
Division                      object
DOB                           object
State                         object
JobFunctionDescription        object
GenderCode                    object
LocationCode                   int64
RaceDesc                      object
MaritalDesc                   object
Performance Score             object
Current Employee Rating        int64
ReusedEmail                     bool
dtype: object

In [ ]:
employees['StartDate'] = pd.to_datetime(employees['StartDate'], format = '%d-%b-%y')
print(employees['StartDate'])

0      2019-09-20
1      2023-02-11
2      2018-12-10
3      2021-06-21
4      2019-06-29
          ...
2995   2022-06-22
2996   2020-12-28
2997   2020-12-09
2998   2019-05-28
2999   2022-04-27
Name: StartDate, Length: 3000, dtype: datetime64[ns]

In [ ]:
employees['ExitDate'] = pd.to_datetime(employees['ExitDate'], format = '%d-%b-%y')
print(employees['ExitDate'])

0             NaT
1             NaT
2             NaT
3             NaT
4             NaT
          ...
2995   2022-08-07
2996          NaT
2997   2022-08-04
2998   2021-10-23
2999          NaT
Name: ExitDate, Length: 3000, dtype: datetime64[ns]

In [ ]:
employees['DOB'] = pd.to_datetime(employees['DOB'], format = '%d-%m-%Y')
print(employees['DOB'])

0      1969-10-07
1      1965-08-30
2      1991-10-06
3      1998-04-04
4      1969-08-29
          ...
2995   1998-06-23
2996   2001-06-10
2997   1997-01-27
2998   1954-05-28
2999   1990-09-11
Name: DOB, Length: 3000, dtype: datetime64[ns]

In [ ]:
print(employees.dtypes)

EmpID                                  int64
FirstName                             object
LastName                              object
StartDate                     datetime64[ns]
ExitDate                      datetime64[ns]
Title                                 object
Supervisor                            object
ADEmail                               object
BusinessUnit                          object
EmployeeStatus                        object
EmployeeType                          object
PayZone                               object
EmployeeClassificationType            object
TerminationType                       object
TerminationDescription                object
DepartmentType                        object
Division                              object
DOB                           datetime64[ns]
State                                 object
JobFunctionDescription                object
GenderCode                            object
LocationCode                           int64
RaceDesc                              object
MaritalDesc                           object
Performance Score                     object
Current Employee Rating                int64
ReusedEmail                             bool
dtype: object

In [ ]:
print(engagement.dtypes)

Employee ID                 int64
Survey Date                object
Engagement Score            int64
Satisfaction Score          int64
Work-Life Balance Score     int64
dtype: object

In [ ]:
print(recruitment.dtypes)

Applicant ID             int64
Application Date        object
First Name              object
Last Name               object
Gender                  object
Date of Birth           object
Phone Number            object
Email                   object
Address                 object
City                    object
State                   object
Zip Code                 int64
Country                 object
Education Level         object
Years of Experience      int64
Desired Salary         float64
Job Title               object
Status                  object
dtype: object

In [ ]:
recruitment['Application Date'] = pd.to_datetime(recruitment['Application Date'], format = '%d-%b-%y')
print(recruitment['Application Date'])

0      2023-06-03
1      2023-05-15
2      2023-08-04
3      2023-07-28
4      2023-06-05
          ...
2995   2023-05-18
2996   2023-07-12
2997   2023-06-19
2998   2023-05-16
2999   2023-07-07
Name: Application Date, Length: 3000, dtype: datetime64[ns]

In [ ]:
recruitment['Date of Birth'] = pd.to_datetime(recruitment['Date of Birth'], format = '%d-%m-%Y')
print(recruitment['Date of Birth'])

0      1992-08-31
1      1965-04-29
2      1973-03-10
3      2001-04-04
4      1978-06-17
          ...
2995   1993-11-25
2996   1978-01-29
2997   2000-02-08
2998   1994-08-08
2999   1980-06-01
Name: Date of Birth, Length: 3000, dtype: datetime64[ns]

In [ ]:
print(recruitment.dtypes)

Applicant ID                    int64
Application Date       datetime64[ns]
First Name                     object
Last Name                      object
Gender                         object
Date of Birth          datetime64[ns]
Phone Number                   object
Email                          object
Address                        object
City                           object
State                          object
Zip Code                        int64
Country                        object
Education Level                object
Years of Experience             int64
Desired Salary                float64
Job Title                      object
Status                         object
dtype: object

In [ ]:
print(tnd.dtypes)

Employee ID                  int64
Training Date               object
Training Program Name       object
Training Type               object
Training Outcome            object
Location                    object
Trainer                     object
Training Duration(Days)      int64
Training Cost              float64
dtype: object

In [ ]:
tnd['Training Date'] = pd.to_datetime(tnd['Training Date'], format = '%d-%b-%y')
print(tnd['Training Date'])

0      2022-09-21
1      2023-07-19
2      2023-02-24
3      2023-01-12
4      2023-05-12
          ...
2995   2023-01-09
2996   2022-09-19
2997   2022-09-26
2998   2023-07-02
2999   2022-10-06
Name: Training Date, Length: 3000, dtype: datetime64[ns]

#Preprocessing (renaming columns)

In [ ]:
employees.columns

Index(['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title',
       'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus',
       'EmployeeType', 'PayZone', 'EmployeeClassificationType',
       'TerminationType', 'TerminationDescription', 'DepartmentType',
       'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode',
       'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score',
       'Current Employee Rating', 'ReusedEmail'],
      dtype='object')

In [ ]:
employees = pd.DataFrame(employees).rename(columns={'EmpID':'emp_id',
                                                    'FirstName':'first_name',
                                                    'LastName':'last_name',
                                                    'StartDate':'start_date',
                                                    'ExitDate':'exit_date',
                                                    'Title':'job_title',
                                                    'Supervisor':'supervisor',
                                                    'ADEmail':'email',
                                                    'BusinessUnit':'business_unit',
                                                    'EmployeeStatus':'employee_status',
                                                    'EmployeeType':'employee_type',
                                                    'PayZone': 'payzone',
                                                    'EmployeeClassificationType': 'employee_classification',
                                                    'TerminationType':'termination_type',
                                                    'TerminationDescription':'termination_description',
                                                    'DepartmentType':'department_type',
                                                    'Division':'division',
                                                    'DOB':'birthdate',
                                                    'State':'state',
                                                    'JobFunctionDescription':'job_function_desc',
                                                    'GenderCode':'gender_code',
                                                    'LocationCode':'location_code',
                                                    'RaceDesc':'race',
                                                    'MaritalDesc':'marital_status',
                                                    'Performance Score':'performance_score',
                                                    'Current Employee Rating':'current_employee_rating',
                                                    'ReusedEmail':'reused_email'})

In [ ]:
engagement.columns

Index(['Employee ID', 'Survey Date', 'Engagement Score', 'Satisfaction Score',
       'Work-Life Balance Score'],
      dtype='object')

In [ ]:
engagement = pd.DataFrame(engagement).rename(columns={
    'Employee ID': 'emp_id',
    'Survey Date': 'survey_date',
    'Engagement Score': 'engagement_score',
    'Satisfaction Score': 'satisfaction_score',
    'Work-Life Balance Score': 'worklifebalance_score'})

In [ ]:
tnd.columns

Index(['Employee ID', 'Training Date', 'Training Program Name',
       'Training Type', 'Training Outcome', 'Location', 'Trainer',
       'Training Duration(Days)', 'Training Cost'],
      dtype='object')

In [ ]:
tnd = pd.DataFrame(tnd).rename(columns={
    'Employee ID': 'emp_id',
    'Training Date': 'training_date',
    'Training Program Name': 'training_program',
    'Training Type': 'training_type',
    'Training Outcome': 'training_outcome',
    'Location': 'location',
    'Trainer': 'trainer',
    'Training Duration(Days)': 'training_duration',
    'Training Cost': 'training_cost'})

In [ ]:
recruitment.columns

Index(['Applicant ID', 'Application Date', 'First Name', 'Last Name', 'Gender',
       'Date of Birth', 'Phone Number', 'Email', 'Address', 'City', 'State',
       'Zip Code', 'Country', 'Education Level', 'Years of Experience',
       'Desired Salary', 'Job Title', 'Status'],
      dtype='object')

In [ ]:
recruitment = pd.DataFrame(recruitment).rename(columns={
    'Applicant ID': 'application_id',
    'Application Date': 'application_date',
    'First Name': 'first_name',
    'Last Name': 'last_name',
    'Gender': 'gender',
    'Date of Birth': 'birthdate',
    'Phone Number': 'phone_number',
    'Email': 'email',
    'Address': 'address',
    'City': 'city',
    'State': 'state',
    'Zip Code': 'zip_code',
    'Country': 'country',
    'Education Level': 'education_level',
    'Years of Experience': 'years_of_experience',
    'Desired Salary': 'desired_salary',
    'Job Title': 'job_title'
})

#Exporting Data

In [ ]:
employees.to_csv('cleaned_employees.csv',index=False)

In [ ]:
engagement.to_csv('cleaned_engagement.csv',index=False)

In [ ]:
recruitment.to_csv('cleaned_recruitment.csv',index=False)

In [ ]:
tnd.to_csv('cleaned_tnd.csv',index=False)